body {
  color: #2f2f2f !important;
  background-color: #f9f7f1 !important;
  min-height: 100%;
}

#container {
  min-height: 100%;
}

.formEntry, .entryTitle {
  border: 1px solid black;
  overflow-y: auto;
}

.formEntry {
  width: 200px;
  height: 300px;
}

.entryTitle {
  width: 200px;
}

#submitButton {
  position: relative;
}

pre.postResults {
  height: 15vw;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50vw;
  margin: 0 auto;
  background-color: unset;
  border: none;
  text-align: center;
  word-break: break-word;
  font-family: BentonSansRE, Verdana, sans-serif;
}

#datePosted.postResults {
  height: 22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  text-align: center;
}

#titleOfWriting.postResults {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

#canvas {
  width: 50px;
  height: 50px;
}

#myFile {
}

.images, .noImg {
  width: 100%;
  object-fit: contain;
}

.perPost {
  margin: 0 auto;
}

.perPostText {
  width: 50%;
  padding-right: 20px;
}

.dateBodyImage {
  display: grid;
  width: 100%;
  justify-content: center;
}

.linkWithButtons {
  margin-left: 10px;
  margin-right: 10px;
}

.Form {
  width: 300px;
  position: relative;  
}

#imageCanvas {
  display: none;
}

.navi, .navigationLinks {
  width: 200px;
}

#pageNum {
  width: 100%;
  text-align: center;
  display: inline-flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

#pageNum > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
  color: black;
}

#pageNum > li:hover {
  color: gray;
}

#postNavigation {
  -webkit-padding-end: 12vw;
  -webkit-padding-start: 12vw;
}

#linkToPost {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.login {
  display: none;
}

.whileLoading {
  height: 100%;
  width: 100%;
  z-index: 1000;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.loadingResults {
  width: 50%;
}

.imageGallery {
  justify-content: right;
  width: 50%;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 0 10px;
}

.SinglePost {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  position: absolute;
}

.singleResult, .singleRead {
  width: 100%;
  height: 100%;
}

.singlePostTextImg {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.imageGallery img {
  margin-bottom: 10px;
}

.imagery {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#writingTitle.singlePostResult {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-size: 50px;
}

#postDate.singlePostResult {
  margin-top: 5px;
  margin-bottom: 30px;
  text-align: center;
}

pre.singlePostResult {
  background-color: unset;
  border: none;
  text-align: center;
  padding-left: 7vw;
  padding-right: 7vw;
  word-break: break-word;
  white-space: pre-wrap;
  font-family: BentonSansRE, Verdana, sans-serif;
  width: 70% !important;
}

.githubProjects {
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.project {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

#projectImg {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin: 0 auto;
}

#projectName {
  margin-top: 0;
  margin-bottom: 10px;
}

#projectLink {
  margin-top: 0;
  margin-bottom: 5px;
}

.techStack {
  margin: 0 auto;
  transition: opacity .2s, visibility .2s;
  position: absolute;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  height: 250px;
}

.imageHover {
  position: relative;
  background-size: contain;
  text-align: center;*/
  display: block;
  max-width: 100%;
  height: 250px;
  max-width: 350px;
  border-radius: 10px;
  margin: 0 auto;
}

.imageHover:hover .techStack, .imageHover:active .techStack {
  visibility: visible;
  opacity: 1;
}

.aboutProject {
  position: relative;
}

#projectList {
  margin: 30px 0 30px;
}

#pageName {
  text-align: center;
  font-weight: bold;
  margin-bottom: 75px;
  font-size: 50px;
  background-color: #93B7BE;
}

.myImage {
  padding: 10px;
}

.headImage {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.blogs2 {
  margin-left: 30px;
  margin-right: 30px;
}

.aboutMe {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: steelblue;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.aboutDescription {
  margin-top: 20px;
  font-size: 15px;
  color: #2C3E50;
  padding: 10px;
  text-align: center;
  display: flex;
  height: 30vh;
}

.wassup {
  margin: auto;
}

.homeLinks {
  background-color: #FBF8ED;
  font-size: 18px !important;
  height: 30vh;
  display: flex;
  -webkit-padding-start: 0 !important;
}

.quickLinks {
  margin: auto;

}

.name {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 1px;
}

.projectDescription {
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
}

#iconLink {
  padding: 1vw;
  color: ghostwhite;
  font-size: 1.75em;
}

.icons {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 40px;
}

#linkToPages li {
  justify-content: space-between;
}

#linkToPages {
  -webkit-padding-start: 0px;
  display: inline-flex;
  width: 70%;
  justify-content: space-around;
  margin-top: 20px;
}

.viewDropdown {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #2C3E50;
  color: aliceblue;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 50px;
}

.dropdown {
  display: none;
  float: right;
  color: aliceblue;
  margin-top: auto;
  margin-bottom: auto;
/*  width: 50%;
  max-width: 150px;*/
}

#basic-nav-dropdown {
  color: aliceblue !important;
}

.menuLinks {
  text-align: center;
}

.dropdown-menu {
 left: 3 !important;

}

.dropdown .dropdown-menu {
  -webkit-transition: max-height 0.5s, opacity 0.3s 0.2s, visibility 0s 0.5s;
  -moz-transition: max-height 0.5s, opacity 0.3s 0.2s, visibility 0s 0.5s;
  -ms-transition: max-height 0.5s, opacity 0.3s 0.2s, visibility 0s 0.5s;
  -o-transition: max-height 0.5s, opacity 0.3s 0.2s, visibility 0s 0.5s;
  transition: max-height 0.5s, opacity 0.3s 0.2s, visibility 0s 0.5s;

  max-height: 0;
  display: none;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.dropdown.open .dropdown-menu {
  -webkit-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
  -moz-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
  -ms-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
  -o-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
  transition: max-height 0.5s, opacity 0.3s, visibility 0s;

  max-height: 190px;
  opacity: 1;
  visibility: visible;
}

/*#briefDescription {
  display: none;
}*/

#myName {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 17px;
  background-color: darkgrey;
  color: ghostwhite;
}

.footerIcons {
  background-color: darkgrey;
}

@media all and (max-width: 767px) {
  .viewDropdown {
    display: flex !important;
  }

  .dropdown {
    display: block !important;
    float: right;
  /*  width: 50%;
    max-width: 150px;*/
  }

  .menuLinks {
    text-align: center;
  }

  .dropdown-menu {
    left: 3 !important;
    margin-top: 0px;
    background-color: #2C3E50 !important;
    width: 100% !important;
  }

  .dropdown-menu > li > a {
    color: aliceblue !important;
  }

  .dropdown .dropdown-menu {
    display: block !important;
  }

  .dropdown.open .dropdown-menu {
    -webkit-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
    -moz-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
    -ms-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
    -o-transition: max-height 0.5s, opacity 0.3s, visibility 0s;
    transition: max-height 0.5s, opacity 0.3s, visibility 0s;

    max-height: 190px;
    opacity: 1;
    visibility: visible;
  }

  #briefDescription {
    display: flex !important;
  }
}

@media all and (min-width: 768px) {
  .name {
    font-size: 50px;
  }

  .personalDescription {
    font-size: 19px;
  }

  ul.nav.nav-tabs {
    display: flex !important;
  }

  .homeLinks {
    font-size: 22px !important;
  }
}

@media all and (min-width: 425px) and (max-width: 768px) {
  .name {
    font-size: 45px;
  }

  .personalDescription {
    font-size: 17px;
  }

  #myName {
    font-size: 12px;
  }
}

@media all and (min-width: 375px) and (max-width: 425px) {
  .personalDescription {
    font-size: 15px;
  }

  #myName {
    font-size: 12px;
  }
}

@media all and (min-width: 320px) and (max-width: 375px) {
  .name {
    font-size: 32px; 
  }

  .personalDescription {
    font-size: 12px;
  }

  #iconLink {
    font-size: 7vw;
  }

  #myName {
    font-size: 15px;
  }
}

@media all and (max-width: 320px) {
  .headImage {

  }

  .name {
    font-size: 11vw; 
  }

  .personalDescription {
    font-size: 4vw;
  }

  .aboutDescription {
    margin-top: 5vw;
    padding: 3vw;
  }

  .myImage {
    padding: 3vw;
  }

  #iconLink {
    font-size: 6vw;
  }
}

@media all and (max-width: 375px) {
  #briefDescription {
  }

  #myName {
    line-height: normal;
    font-size: 3vw;
  }

  .homeLinks {
    font-size: 14px !important;
  }
}

/*.open>.dropdown-menu {
  flex-direction: column !important;
  display: flex !important;
}*/

.Explore {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  min-height: 60px;
  background-color: #2C3E50;
  width: 100%;
}

.briefHeading {
  margin-bottom: auto;
  margin-top: auto;
}

.navbarFooter {
  text-align: center;
  border-radius: 0 !important;
  margin-bottom: 0;
  height: 150px !important;
  background-color: #333333;
  position: absolute;
  width: 100%;
}

.Blogs, .Fitness, .Projects, .About, .Home {
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.fitness2, .blogs2 {
  min-height: 100%;
}

.footer {
  text-align: center;
  top: 100%;
  position: absolute;
  width: 100%;
}

.projectsSection {
  height: 100%;
}

ul.nav.nav-tabs {
  display: none;
  justify-content: space-around;
  background-color: #2C3E50;
  border-bottom: unset !important;
  margin-left: 40px;
}

.nav-tabs > li {
  margin-bottom: auto !important;
  margin-top: auto !important;
  margin-left: 4px;
  margin-right: 4px;
}

.nav-tabs > li > a {
  color: aliceblue !important;
  border-radius: 50% !important;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #2C3E50 !important;
  background-color: aliceblue !important;
  border-radius: 50% !important;
}

#bordering {
  width: 90%;
  opacity: 0.5;
  border-bottom: 1px solid black;
  display: block;
  margin: 0 auto;
}

.whatIDo {
  text-align: center;
  line-height: 20px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: BentonSansRE, Verdana, sans-serif;
  width: 70%;
  justify-content: center;
}

.singlePostResult#postBody {
  height: 70%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
