
/*body div div{
  border: 1px solid black;
  position: absolute;
}*/

#App {
  position: relative;
  width: 833px;
  height: 544px;
}

#Fitness, #Blogs, #Projects {
  position: absolute;
}

.formEntry {
  border: 1px solid black;
  position: absolute;
  top: 100;
  width: 200px;
  height: 300px;
  overflow-y: auto;
}