
body div div{
  border: 1px solid black;
  position: absolute;
}

#App {
  position: relative;
  width: 833px;
  height: 544px;
}

#Daily {
  width: 452px;
  height: 264px;
  top: 14px;
  left: 352px;
}

#Meal {
  width: 291px;
  height: 71px;
  top: 33px;
  left: 104px;
}

#Weekly {
  width: 318px;
  height: 125px;
  top: 310px;
  left: 370px;
}
